@model CreateBugDTO
@inject RoleManager<Role> RoleManager
@inject UserManager<User> UserManager
@inject IViewsService ViewsService

@{
    var users = await ViewsService.GetOrganizationUsers();
    var projects = await ViewsService.GetOrganizationProjects();
}

<div class="container px-4 py-2">
    <div class="row mb-2">
        <div class="col">
            <h1 class="text-center">New Bug</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label asp-for="@Model.Title">Title</label>
                            <input asp-for="@Model.Title" type="text" class="form-control">
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label asp-for="@Model.Priority">Priority</label>
                            <select asp-for="@Model.Priority" class="form-control custom-select">
                                <option selected disabled>Select Priority</option>
                                <option>Low</option>
                                <option>Medium</option>
                                <option>High</option>
                            </select>
                            <span asp-validation-for="@Model.Priority" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            @{
                                var assigneeList = new List<SelectListItem>();
                                foreach (var user in users)
                                {
                                    assigneeList.Add(new SelectListItem { Value = user.Id.ToString(), Text = user.Email });
                                }
                            }
                            <label asp-for="@Model.AssigneeId">Assignee</label>
                            <select asp-for="@Model.AssigneeId" asp-items="@assigneeList" class="form-control custom-select"></select>
                            <span asp-validation-for="@Model.AssigneeId" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            @{
                                var projectList = new List<SelectListItem>();
                                foreach (var project in projects)
                                {
                                    projectList.Add(new SelectListItem { Value = project.Id.ToString(), Text = project.Title });
                                }
                            }
                            <label asp-for="@Model.ProjectId">Project</label>
                            <select asp-for="@Model.ProjectId" asp-items="@projectList" class="form-control custom-select"></select>
                            <span asp-validation-for="@Model.ProjectId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="@Model.Description">Description</label>
                            <textarea id="descriptionEditor" asp-for="@Model.Description" class="form-control"></textarea>
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn custom-btn-primary btn-lg">Create</button>
                        <a asp-controller="Bugs" asp-action="Index" class="btn btn-secondary btn-lg">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>

@section Scripts {
    <script>
        $(function () {
            $('#descriptionEditor').summernote()
        })
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
