@model EditBugDTO
@inject RoleManager<Role> RoleManager
@inject UserManager<User> UserManager
@inject IViewsService ViewsService

@{
    var users = await ViewsService.GetOrganizationUsers();
    var projects = await ViewsService.GetOrganizationProjects();
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Create a new Bug</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Bugs</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row px-2 py-2">
            <!-- General details -->
            <div class="col-md-7">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">General</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="@Model.Title">Title</label>
                            <input asp-for="@Model.Title" type="text" class="form-control">
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Priority">Priority</label>
                            <select asp-for="@Model.Priority" class="form-control custom-select">
                                <option selected disabled>Select Priority</option>
                                <option>Low</option>
                                <option>Medium</option>
                                <option>High</option>
                            </select>
                            <span asp-validation-for="@Model.Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Status">Status</label>
                            <select asp-for="@Model.Status" class="form-control custom-select">
                                <option selected disabled>Select Status</option>
                                <option>Open</option>
                                <option>Build In Progress</option>
                                <option>Code Review</option>
                                <option>Functional Testing</option>
                                <option>Fixed</option>
                                <option>Closed</option>
                            </select>
                            <span asp-validation-for="@Model.Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Description"> Description</label>
                            <textarea id="descriptionEditor" asp-for="@Model.Description" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="@Model.Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- select Assignee and Project -->
            <div class="col-md-5">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Other Details</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            @{
                                var assigneeList = new List<SelectListItem>();
                                foreach (var user in users)
                                {
                                    assigneeList.Add(new SelectListItem { Value = user.Id.ToString(), Text = user.Email });
                                }
                            }
                            <label asp-for="@Model.AssigneeId">Assignee</label>
                            <select asp-for="@Model.AssigneeId" asp-items="@assigneeList" class="form-control custom-select"></select>
                            <span asp-validation-for="@Model.AssigneeId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @{
                                var projectList = new List<SelectListItem>();
                                foreach (var project in projects)
                                {
                                    projectList.Add(new SelectListItem { Value = project.Id.ToString(), Text = project.Title });
                                }
                            }
                            <label asp-for="@Model.ProjectId">Project</label>
                            <select asp-for="@Model.ProjectId" asp-items="@projectList" class="form-control custom-select"></select>
                            <span asp-validation-for="@Model.ProjectId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-8">
                <button type="submit" class="btn custom-btn-primary btn-lg">Save</button>
                <a asp-controller="Bugs" asp-action="Index" class="btn btn-secondary btn-lg">Cancel</a>
            </div>

            <div class="col-4">
                <button type="button" class="btn btn-danger float-right btn-lg" onclick="showConfirmDelete()">Delete</button>
            </div>
        </div>
    </form>
</section>

<!-- delete confirmation dialog -->
<div class="card card-warning" id="deleteConfirmBox">
    <div class="card-header">
        <h3>Delete bug?</h3>
    </div>
    <div class="card-body">
        <h5>This will delete the bug completely and can't be restored</h5>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button class="btn btn-secondary btn-lg" onclick="hideDeleteConfirm()" style="margin-right: 5px;">Cancel</button>
        <button class="btn btn-danger btn-lg" onclick="deleteProject()">Delete</button>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            $('#descriptionEditor').summernote();
        })

        function showConfirmDelete() {
            $('#deleteConfirmBox').show();
        }

        function hideDeleteConfirm() {
            $('#deleteConfirmBox').hide()
        }

        function deleteProject() {
            $.ajax({
                type: 'POST',
                url: '/Projects/Delete',
                data: { "id": "@Model.Id.ToString()" },
                success: function (response) {
                    if (response.success) {
                        hideDeleteConfirm()
                        window.location.href = '/Projects/Index';
                    } else {
                        alert(response.message);
                    }
                },
                error: function (error) {
                    console.log(error);
                    alert("There was an error processing the request");
                }
            })
        }
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}