@model CreateBugViewModel
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
    <style>
        .row {
            margin-left: 20px;
        }
        .left-right-container {
            width: 100%;
            display: flex;
            gap: 50px;
        }
        .right-side {
            margin-top: 45px;
        }
        .form-group {
            width: 400px;
            margin-top: 20px;
        }
        .selectBox {
            position: relative;
        }
        .selectBox select {
            min-width: 400px;
            height: 40px;
            font-weight: bold;
        }
        .overSelect {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
        #checkboxes {
            display: none;
            position: absolute;
            background: #C5F9FF;
            z-index: 8;
            border: 1px #dadada solid;
        }
        #checkboxes label {
            display: block;
        }
        #checkboxes label:hover {
            background-color: #1e90ff;
        }
        .select-input:focus {
            box-shadow: none;
        }
        @@media (max-width: 1220px) {
            .form-group {
                width: 400px;
            }
        }
        @@media (max-width: 1170px) {
            .form-group {
                width: 300px;
            }
            .selectBox select {
                min-width: 300px;
            }
        }
        @@media (max-width: 680px) {
            .left-right-container {
                flex-direction: column;
            }
            .right-side {
                margin-top: 0px;
            }
            .form-group {
                width: 450px;
                height: 40px;
            }
            .selectBox select {
                min-width: 450px;
            }
        }
    </style>
</head>
<body>
    <h1 style="margin-left: 20px;">Add Bug</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Bug.BugId" />
                <input type="hidden" asp-for="@Model.Bug.SubmitterId" />
                <input type="hidden" asp-for="@Model.Bug.CreatedDate" />

                <div class="left-right-container">
                    <div class="left-side">
                        <div class="form-group">
                            <label asp-for="@Model.Bug.Title" class="control-label"></label>
                            <input asp-for="@Model.Bug.Title" class="form-control" />
                            <span asp-validation-for="@Model.Bug.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Bug.Description" class="control-label"></label>
                            <input asp-for="@Model.Bug.Description" class="form-control" />
                            <span asp-validation-for="@Model.Bug.Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Bug.Priority" class="control-label"></label>
                            <input asp-for="@Model.Bug.Priority" class="form-control" />
                            <span asp-validation-for="@Model.Bug.Priority" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Bug.Status" class="control-label"></label>
                            <input asp-for="@Model.Bug.Status" class="form-control" />
                            <span asp-validation-for="@Model.Bug.Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="right-side">
                        <div class="multiselect">
                            <div class="selectBox" onclick="showCheckboxes()">
                                <select>
                                    <option>Select Members</option>
                                </select>
                                <div class="overSelect"></div>
                            </div>
                            <div class="form-group" id="checkboxes">
                                @for(int i = 0; i < @Model.Users.Count; i++)
                                {
                                    <div class="form-check m-1">
                                        <input type="hidden" asp-for="@Model.Users[i].UserId">
                                        <input type="hidden" asp-for="@Model.Users[i].UserEmail">
                                        <input class="form-check-input" asp-for="@Model.Users[i].IsSelected">
                                        <label class="form-check-label" asp-for="@Model.Users[i].IsSelected">
                                            @Model.Users[i].UserEmail
                                        </label>
                                    </div>
                                }
                            </div>
                        </div>
                        @{
                            Dictionary<int, string> dict = new Dictionary<int, string>();
                            foreach (var project in Model.Projects)
                            {
                                dict.Add(project.ProjectId, project.Title);
                            }

                            SelectList selectList = new SelectList(dict, "Key", "Value");
                            
                            <div class="form-group">
                                <label asp-for="@Model.Bug.ProjectId">Select Project</label>
                                <select class="form-control select-input" asp-for="@Model.Bug.ProjectId" asp-items="@selectList"></select>
                            </div>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Edit" class="btn btn-primary" />
                </div>
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </div>


    <script>
        var expanded = false;
        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if(!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded= false;
            }
        }
    </script>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
