@using BugTracker.Authorization;
@using Microsoft.AspNetCore.Identity
@using static BugTracker.Helpers.NavigationIndicatorHelper;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IAuthorizationService AuthorizationService

@{
    User? currentUser = await UserManager.GetUserAsync(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bug Tracker</title>

    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <link href="~/css/site.css" rel="stylesheet" />

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- My personal icon -->
    <script src="https://kit.fontawesome.com/1d896aecf2.js" crossorigin="anonymous"></script>

    <!-- summernote -->
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-item dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
               
                <!-- Register/Login/Logout -->
                @if (SignInManager.IsSignedIn(User))
                {
                    var firstName = (await @UserManager.GetUserAsync(User)).FirstName;
                    <li class="nav-item d-none d-sm-inline-block">
                        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@firstName</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button style="border: 0px; background: white;" id="logout" type="submit" class="nav-link">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item d-none d-sm-inline-block">
                        @*<a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>*@
                        <a class="nav-link" id="register" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                    <li class="nav-item d-none d-sm-inline-block">
                        @*<a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>*@
                        <a class="nav-link" id="login" asp-controller="Account" asp-action="Login">Login</a>
                    </li>
                }
            </ul>
        </nav>

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="index3.html" class="brand-link">
                <img src="~/img/BugLogo.png" alt="Bug Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Bug Tracker</span>
            </a>

            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        @{
                            if(currentUser.AvatarPhoto is null)
                            {
                                <img src="~/img/default-avatar.png" class="img-circle elevation-2" alt="User Image">
                            }
                            else
                            {
                                string src = "data:image/png;base64," + Convert.ToBase64String(currentUser.AvatarPhoto, 0, currentUser.AvatarPhoto.Length);
                                <img src="@src" class="img-circle elevation-2" alt="User Image">
                            }
                        }
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@currentUser.FirstName @currentUser.LastName</a>
                    </div>
                </div>

                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index" class="nav-link @Url.MakeActiveClass("Home","Index")">
                                <i class="nav-icon fa-solid fa-gauge"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Projects" asp-action="Index" class="nav-link @Url.MakeActiveClass("Projects","Index")">
                                <i class="nav-icon fa-solid fa-diagram-project"></i>
                                <p>Projects</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Bugs" asp-action="Index" class="nav-link @Url.MakeActiveClass("Bugs","Index")">
                                <i class="nav-icon fa-solid fa-bug"></i>
                                <p>Bugs</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Organization" asp-action="Index" class="nav-link @Url.MakeActiveClass("Organization","Index")">
                                <i class="nav-icon fa-solid fa-users"></i>
                                <p>Organization</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Manage" asp-action="Index" asp-route-id="@currentUser.Id" class="nav-link @Url.MakeActiveClass("Manage","Index")">
                                <i class="nav-icon fa-solid fa-user"></i>
                                <p>Manage Account</p>
                            </a>
                        </li>
                        @if((AuthorizationService.AuthorizeAsync(User, Permissions.RoleManageOperations.Read)).Result.Succeeded)
                        {
                            <li class="nav-item">
                                <a asp-controller="Roles" asp-action="Index" class="nav-link @Url.MakeActiveClass("Roles","Index")">
                                    <i class="nav-icon fa-solid fa-wrench"></i>
                                    <p>Manage Roles</p>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>

        <footer class="main-footer">
            <strong>Copyright &copy; 2023 <a asp-controller="Home" asp-action="Index">Bug Tracker</a>.</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>
    </div>

    <!-- jQuery && ajax -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
    
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>

    <!-- Summernote -->
    <script src="~/plugins/summernote/summernote-bs4.min.js"></script>

    <!-- AdminLTE App -->
    <script src="~/js/adminlte.js"></script>

    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
