@using static BugTracker.Helpers.NavigationIndicatorHelper;
@using BugTracker.Models;
@using BugTracker.Data;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bug Tracker</title>
    <script src="https://kit.fontawesome.com/1d896aecf2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="~/css/LayoutStyle.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>

    </style>

</head>
<body>
    <div class="my-container">
        <div class="my-navigation">
            <ul style="padding-left: 0;" class="my-ul">
                <li style="background: transparent;" class="my-li">
                    <a class="my-a" href="#">
                        <span class="icon"><i style="font-size:24px;" class="fa-solid fa-bug"></i></span>
                        <span class="title">Bug Tracker</span>
                        @*<span class="title"><h2>Bug Tracker</h2></span>*@
                    </a>
                </li>
                <li class="my-li">
                    <a asp-controller="Home" asp-action="Index" class=" my-a @Url.MakeActiveClass("Home","Index")">
                        <span class="icon"><i class="fa-solid fa-house"></i></span>
                        <span class="title"><h3>Dashboard</h3></span>
                    </a>
                </li>
                <li class="my-li">
                    <a asp-controller="Projects" asp-action="Index" class="my-a @Url.MakeActiveClass("Projects","Index")">
                        <span class="icon"><i class="fa-solid fa-diagram-project"></i></span>
                        <span class="title"><h3>Projects</h3></span>
                    </a>
                </li>
                <li class="my-li">
                    <a asp-controller="Bugs" asp-action="Index" class="my-a @Url.MakeActiveClass("Bugs","Index")">
                        <span class="icon"><i class="fa-solid fa-spider"></i></span>
                        <span class="title"><h3>Bugs</h3></span>
                    </a>
                </li>
                <li class="my-li">
                    <a asp-controller="Home" asp-action="Contacts" class="my-a @Url.MakeActiveClass("Home","Contacts")">
                        <span class="icon"><i class="fa-solid fa-address-book"></i></span>
                        <span class="title"><h3>Manage Contacts</h3></span>
                    </a>
                </li>
                <li class="my-li">
                    <a asp-controller="Admin" asp-action="ListRoles" class="my-a @Url.MakeActiveClass("Admin","ListRoles")">
                        <span class="icon"><i class="fa-solid fa-lock"></i></span>
                        <span class="title"><h3>Manage Roles</h3></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="main">
            <div class="top-bar">
                <div class="toggle" onclick="toggleMenu();"></div>
                <partial name="_NotificationPartial"/>

                <partial name="_LoginPartial" />
            </div>
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>

    <script>
        function toggleMenu() {
            let toggle = document.querySelector('.toggle');
            let navigation = document.querySelector('.my-navigation');
            let main = document.querySelector('.main');
            toggle.classList.toggle('active');
            navigation.classList.toggle('active');
            main.classList.toggle('active');
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/commonHubScript.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
