@model DashboardDTO


<div class="row">
    <div class="col-lg-3 col-6">
        <div class="card bg-info">
            <div class="card-body">
                <h2>@Model.ProjectsCount</h2>
                <h4>Projects</h4>
            </div>
            <div class="card-footer">
                <a style="color: white" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="card bg-danger">
            <div class="card-body">
                <h2>@Model.BugsCount</h2>
                <h4>Bugs</h4>
            </div>
            <div class="card-footer">
                <a style="color: white" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="card bg-warning">
            <div class="card-body">
                <h2>@Model.UsersCount</h2>
                <h4>Users</h4>
            </div>
            <div class="card-footer">
                <a style="color: white" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <div class="card bg-secondary">
            <div class="card-body">
                <h2>5</h2>
                <h4>Roles</h4>
            </div>
            <div class="card-footer">
                <a style="color: white" href="#">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 mt-2">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Projects by status</h3>
            </div>
            <div class="card-body">
                <canvas id="projectsStatusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Projects by priority</h3>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="projectsPriorityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row g-4 mt-2">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Bugs by status</h3>
            </div>
            <div class="card-body">
                <canvas id="bugsStatusChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Bugs by priority</h3>
            </div>
            <div class="card-body">
                <div class="chart">
                    <canvas id="bugsPriorityChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(function () {
            //- PROJECTS STATUS CHART -
            var projectsStatusChartCanvas = $('#projectsStatusChart').get(0).getContext('2d')
            var projectsStatusData = {
                labels: [
                    'Open',
                    'In Progress',
                    'Completed',
                    'Closed'
                ],
                datasets: [
                    {
                        data: [@Model.Project_Open, @Model.Project_InProgress, @Model.Project_Completed, @Model.Project_Closed],
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#111688'],
                    }
                ]
            }
            var chartOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            new Chart(projectsStatusChartCanvas, {
                type: 'doughnut',
                data: projectsStatusData,
                options: chartOptions
            })

            //- BUGS STATUS CHART -
            var bugsStatusChartCanvas = $('#bugsStatusChart').get(0).getContext('2d')
            var bugsStatusData = {
                labels: [
                    'Open',
                    'Build In Progress',
                    'Code Review',
                    'Functional Testing',
                    'Fixed',
                    'Closed'
                ],
                datasets: [
                    {
                        data: [@Model.Bug_Open, @Model.Bug_BuildInProgress, @Model.Bug_CodeReview, @Model.Bug_FunctionalTesting, @Model.Bug_Fixed, @Model.Bug_Closed],
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#111688'],
                    }
                ]
            };
            new Chart(bugsStatusChartCanvas, {
                type: 'pie',
                data: bugsStatusData,
                options: chartOptions
            })

            //- PROJECTS PRIORITY BAR CHART -
            var barChartData = {
                labels: ['Low', 'Medium', 'High'],
                datasets: [
                    {
                        label: 'Projects',
                        data: [@Model.Project_Low, @Model.Project_Medium, @Model.Project_High],
                        backgroundColor: ['rgba(0,255,0,1)', 'rgba(0, 0, 255, 1)', 'rgba(255, 0, 0, 1)'],
                        borderColor: ['rgba(0,255,0)', 'rgba(0, 0, 255)', 'rgba(255, 0, 0)']
                    }
                ]
            }
            var barChartCanvas = $('#projectsPriorityChart').get(0).getContext('2d')
            var barChartOptions = {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true
                    }]
                }
            }
            new Chart(barChartCanvas, {
                type: 'bar',
                data: barChartData,
                options: barChartOptions
            })

            //- BUGS PRIORITY BAR CHART -
            var bugsBarChartCanvas = $('#bugsPriorityChart').get(0).getContext('2d')
            var bugsBarChartData = {
                labels: ['Low', 'Medium', 'High'],
                datasets: [
                    {
                        label: 'Bugs',
                        data: [@Model.Bug_Low, @Model.Bug_Medium, @Model.Bug_High],
                        backgroundColor: ['rgba(0,255,0,1)', 'rgba(0, 0, 255, 1)', 'rgba(255, 0, 0, 1)'],
                        borderColor: ['rgba(0,255,0)', 'rgba(0, 0, 255)', 'rgba(255, 0, 0)']

                    }
                ]
            }
            new Chart(bugsBarChartCanvas, {
                type: 'bar',
                data: bugsBarChartData,
                options: barChartOptions
            })
        })
    </script>
}