@model CreateProjectViewModel
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <title>Create Project</title>
</head>
<body>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Create a new Project</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-controller="Projects" asp-action="Index">Projects</a></li>
                        <li class="breadcrumb-item active">Create</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="@Model.Project.Title">Project Title</label>
                                <input asp-for="@Model.Project.Title" type="text" class="form-control">
                                <span asp-validation-for="@Model.Project.Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Project.Key">Project Key</label>
                                <input asp-for="@Model.Project.Key" type="text" class="form-control">
                                <span asp-validation-for="@Model.Project.Key" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Project.Description">Project Description</label>
                                <textarea id="descriptionEditor" asp-for="@Model.Project.Description" class="form-control" rows="4"></textarea>
                                <span asp-validation-for="@Model.Project.Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Project.Priority">Priority</label>
                                <select asp-for="@Model.Project.Priority" class="form-control custom-select">
                                    <option selected disabled>Select Priority</option>
                                    <option>Low</option>
                                    <option>Medium</option>
                                    <option>High</option>
                                </select>
                                <span asp-validation-for="@Model.Project.Priority" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Project.Status">Status</label>
                                <select asp-for="@Model.Project.Status" class="form-control custom-select">
                                    <option selected disabled>Select Status</option>
                                    <option>Active</option>
                                    <option>In Progress</option>
                                </select>
                                <span asp-validation-for="@Model.Project.Status" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-md-6">
                    <div class="card card-secondary">
                        <div class="card-header">
                            <h3 class="card-title">People</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                @{
                                    var managerList = new List<SelectListItem>();
                                    foreach (var user in Model.Managers)
                                    {
                                        managerList.Add(new SelectListItem { Value = user.Id, Text = user.Email });
                                    }
                                }
                                <label asp-for="@Model.Project.ManagerId">Project Manager</label>
                                <select asp-for="@Model.Project.ManagerId" asp-items="@managerList" class="form-control custom-select"></select>
                                <span asp-validation-for="@Model.Project.ManagerId" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <div class="col-12">
                    <a asp-controller="Projects" asp-action="Index" class="btn btn-secondary">Cancel</a>
                    <input type="submit" value="Create" class="btn btn-success">
                </div>
            </div>
        </form>
    </section>
    <!-- /.content -->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script>
        $(function () {
            // Summernote
            $('#descriptionEditor').summernote()
        })
    </script>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
