@model Project
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <title>Delete</title>
</head>
<body>
    <div class="container">
        <h3>Are you sure you want to remove this project?</h3>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Priority)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Priority)
            </dd>
            <dt class="col-sm-2">
                Project Manager
            </dt>
            <dd class="col-sm-10">
                @{
                    var name = "";
                    var user = await UserManager.FindByIdAsync(Model.ManagerId);
                    if (user != null)
                        name = user.FirstName + user.LastName;
                }
                @name
            </dd>
            @*
           <dt class="col-sm-2">
                Assigned Developers
            </dt>
            <dd class="col-sm-10">
                <table class="table">
                    @foreach(var item in Model.AssignedUsersForProject)
                    {
                        <tr>
                            <td>
                                @item.AppUser.FirstName @item.AppUser.LastName
                            </td>
                        </tr>
                    }
                </table>
            </dd>
            *@
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</body>
</html>
