@model GetProjectDTO

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">@Model.Title</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <h4 class="fw-semibold">
                            Status
                        </h4>
                        <p class="fw-medium">@Model.Status</p>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <h4 class="fw-semibold">
                            Priority
                        </h4>
                        <p class="fw-medium">@Model.Priority</p>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <h4 class="fw-semibold">
                            Project Manager
                        </h4>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                @if (@Model.Manager.AvatarPhoto is null)
                                {
                                    <img src="~/img/default-avatar.png" class="table-avatar" alt="User Image">
                                }
                                else
                                {
                                    string src = "data:image/png;base64," + Convert.ToBase64String(Model.Manager.AvatarPhoto, 0, Model.Manager.AvatarPhoto.Length);
                                    <img src="@src" class="table-avatar" alt="User Image">
                                }
                            </li>
                            <li class="list-inline-item">
                                <p class="fw-medium">@Model.Manager.UserName</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <h4 class="fw-semibold">
                            Created By
                        </h4>
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                @if (@Model.CreatedBy.AvatarPhoto is null)
                                {
                                    <img src="~/img/default-avatar.png" class="table-avatar" alt="User Image">
                                }
                                else
                                {
                                    string src = "data:image/png;base64," + Convert.ToBase64String(Model.CreatedBy.AvatarPhoto, 0, Model.CreatedBy.AvatarPhoto.Length);
                                    <img src="@src" class="table-avatar" alt="User Image">
                                }
                            </li>
                            <li class="list-inline-item">
                                <p class="fw-medium">@Model.CreatedBy.UserName</p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-6 col-lg-4">
                        <h4 class="fw-semibold">
                            Created Date
                        </h4>
                        <p class="fw-medium">@Model.CreatedDate</p>
                    </div>

                    <div class="col-12">
                        <h4 class="fw-semibold">
                            Description
                        </h4>
                        <p class="fw-medium">@Html.Raw(Model.Description)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-2 mb-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Referenced bugs to this project</h3>
            </div>
            <div class="card-body">
            @{
                if (Model.Bugs.Count == 0)
                {
                    <p>No Bugs is created yet for this project.</p>
                }
                else
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var bug in Model.Bugs)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Bugs" asp-action="Details" asp-route-id="@bug.Id">
                                            @bug.Title
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
            </div>
        </div>
    </div>
</div>
