@model IEnumerable<GetAllProjectDTO>

<div class="container p-4">
    <div class="row">
        <div class="col-12">
            <h1>All Projects</h1>
        </div>
    </div>

    <div class="row mt-2 align-items-center">
        <div class="col-6">
            <input class="form-control form-control-lg" id="searchInput" placeholder="search by title, priority, status" />
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-lg" id="searchBtn" type="button">Search</button>
        </div>
    </div>

    <div class="card mt-2">
        <div class="card-header">
            <a 
                class="btn custom-btn-primary btn-lg" 
                asp-controller="Projects"
                asp-action="Create">
                Add
            </a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">Key</th>
                            <th style="width: 20%">Title</th>
                            <th style="width: 30%">Project Manager</th>
                            <th>Priority</th>
                            <th style="width: 8%">Status</th>
                            <th style="width: 20%"></th>
                        </tr>
                    </thead>
                    <tbody id="tbody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <h6>@item.Key</h6>
                                </td>
                                <td>
                                    @item.Title
                                    <br />
                                    <small>Created @item.CreatedDate</small>
                                </td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            @if (item.Manager.AvatarPhoto is null)
                                            {
                                                <img src="~/img/default-avatar.png" class="table-avatar" alt="User Image">
                                            }
                                            else
                                            {
                                                string src = "data:image/png;base64,"
                                                + Convert.ToBase64String(item.Manager.AvatarPhoto, 0, item.Manager.AvatarPhoto.Length);
                                                <img src="@src" class="table-avatar" alt="User Image">
                                            }
                                        </li>
                                        <li class="list-inline-item">
                                            <h6>@item.Manager.UserName</h6>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <h6>@item.Priority</h6>
                                </td>
                                <td>
                                    <span class="badge badge-success">@item.Status</span>
                                </td>
                                <td class="text-right">
                                    <a
                                        class="btn btn-info btn-sm"
                                        asp-controller="Projects"
                                        asp-action="Details"
                                        asp-route-id="@item.Id"
                                        ><i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a
                                        class="btn btn-secondary btn-sm"
                                        asp-controller="Projects"
                                        asp-action="Edit"
                                        asp-route-id="@item.Id"
                                        ><i class="fas fa-pencil-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/loadProjects.js"></script>
    <script>
        $(function () {
            $('#searchBtn').click(function () {
                var searchTerm = $('#searchInput').val()

                $.ajax({
                    url: '/Projects/Search/',
                    method: 'GET',
                    data: { searchTerm: searchTerm },
                    success: () => {
                        $('#searchInput').val('');
                    },
                    error: (error) => {
                        console.log(JSON.stringify(error))
                    }
                });
            });
        });
    </script>
}
