@model BugTracker.ViewModels.ManageAccount.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_ManageLayout.cshtml";
    ViewData["userId"] = Model.Id;
}

<form id="change-password-form" asp-controller="Manage" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-group">
        <label asp-for="@Model.OldPassword" class="form-label">Old Password</label>
        <input asp-for="@Model.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
        <span asp-validation-for="@Model.OldPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.NewPassword" class="form-label">New Password</label>
        <input asp-for="@Model.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmPassword" class="form-label">Confirm Password</label>
        <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-md btn-primary">Update password</button>
</form>
